package main

import (
	"io"
	"fmt"
	"os"
	{{- range .Imports }}
		"{{ . }}"
	{{- end}}
	"ariga.io/atlas-provider-bun/bunschema"
	_ "ariga.io/atlas/sdk/recordriver"
)

func main() {
	stmts, err := bunschema.New(bunschema.Dialect("{{ .Dialect }}")
		{{- if eq .Dialect "mssql" -}}
			, bunschema.WithStmtDelimiter("\nGO")
		{{- end -}}
		{{- if .BuildTags -}}
			, bunschema.WithBuildTags("{{ .BuildTags }}")
		{{- end -}}
			).Load(
		{{- range .Models }}
			&{{ .PkgName }}.{{ .Name }}{},
		{{- end }}
	)
	if err != nil {
		fmt.Fprintf(os.Stderr, "failed to load bun schema: %v\n", err)
		os.Exit(1)
	}
	io.WriteString(os.Stdout, stmts)
}